@import url(https://fonts.googleapis.com/css?family=Montserrat);

.data{
    font-size: 12px;
}

#search{
    color: black !important;
}

#newVrauAlert{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    background-color: rgba(255,255,255,0.2);
}
#newVrauAlertText{
   color:white !important;
   font-size: 15px !important;
}
.todo{
    padding-left: 10px;
}

.marginzerob{
    margin-bottom: 0px !important;
}
.marginzerot{
    margin-top: 0px !important;
}

body{
	background-color: #221157;
	font-family: 'Montserrat';
}
.profile{
	background-color: rgba(255,255,255,0.2);
	width: 300px;
	//height: 200px;
	margin-top: 10px;
        padding-top: 20px !important;
}

.profile img{
	width: 100%;
	padding:auto;
}
.profile p{
	//float: right;
	color: white;
	margin-right: 50px;
}
#info{
	margin-top: -130px;
	font-size: 12px;
	font-family: sans-serif;
}



.row{
    width: 100% !important;
}
.postar{
	//margin: 0 auto;
	//width: 1300px;
        margin-top: 10px;
        background-color: white;
}
textarea{
	//font-family: 'Montserrat';
	//padding: 8px;
	//float: right;
	//margin-top: -210px;
	//width: 100%;
	height: 80px !important;
        //background-color: white !important;
}
.colunalora{
    margin-right: 0px !important;
}
#vrau{
	font-family: 'Montserrat';
	//margin-top: -30px;
	border:none;
	padding: 8px;
	//width: 100px;
	//float: right;
	background-color: #A62649;
	color: white;
}
.post{
	background-color: #3682DA;
	//width: 930px;
	//float: right;
        margin-bottom: 0px !important;
	margin-top: 2px !important;
	/*margin-right: -100px;*/
        
}
.row{
    //margin-bottom: 0px !important;
    //margin-top: 0px !important;
    
}
.row:after{
    //display: block !important;
}
.post img{
	max-width: 100%;
        width: auto;
        max-height: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
	//float: left;
}
.post .contentPost{
	color: white;
	//padding-left: 100px;
	//margin-right: 50px;
}
#contentP{
	color: rgba(255,255,255,0.7);
	font-size: 12px;
}

.post-img{
        max-width: 100%;
        width: auto;
        max-height: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
}
li .row{
    margin-bottom: 0;
}