.strike{
	text-decoration: line-through;
}

/*	@import url(https://fonts.googleapis.com/css?family=Montserrat);
	html,
	body {
		margin: 0;
		padding: 0;
		background-color: #46b19b
	}
	.all {
		width: 1000px;
		margin: 0 auto
	}
	.header {
		text-align: center;
		background-color: #fff;
		padding: 10px;
		padding-left: 200px;
		padding-right: 200px
	}
	.main {
		font-family: 'Montserrat';
		text-align: center;
		margin-top: 10px;
		background-color: #fff
	}
	#pendente,
	#concluido {
		text-align: left;
		font-size: 1.5em;
		padding-left: 6px
	}
	#concluido {
		padding-bottom: 5px
	}
	.add {
		font-family: 'Montserrat';
		text-align: center;
		margin-top: 10px;
		padding-top: 3px;
		padding-bottom: 3px;
		background-color: #fff;
		padding-left: 200px;
		padding-right: 200px;
		transition: .2s ease-out
	}
	.add:hover {
		background-color: #ebcb66;
		cursor: pointer
	}
	h2 {
		padding-top: 10px;
		background-color: #e9c554;
		color: #fff
	}
	#title {
		font-family: 'Montserrat';
		text-align: center
	}
	hr {
		background-color: #eee
	}
	h2 {
		font-family: 'Montserrat'
	}
	button {
		background-color: #fff;
		border: 1px solid
	}
	img {
		width: 20%;
		vertical-align: middle
	}
	img+h1 {
		display: inline
	}
	h1 {
		text-transform: uppercase
	}
	.limpar {
		position: fixed;
		bottom: 30px;
		right: 100px
	}
	#limpar {
		font-family: 'Montserrat';
		font-size: 1.3em;
		padding: 3px
	}
	input[type="checkbox"] {
		display: none
	}
	input[type="checkbox"]+label span {
		display: inline-block;
		width: 19px;
		height: 19px;
		margin: -1px 4px 0 0;
		vertical-align: middle;
		background: url(aaa.png) left top no-repeat;
		cursor: pointer
	}
	input[type="checkbox"]:checked+label span {
		background: url(aaa.png) -26px top no-repeat
	}*/