.slide image{
    width: auto !important;
    height: 100% !important;
}

#topo{
    width: 100%;
    height: 10%;
    background: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

#titulo{
}

html, body { 
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	background-color: #333333;
}

#divslide { 
	width: 100%; 
	height: 89%; 
	position: relative; 
	text-align: center;
}

#slider .slide { 
	width: 100%; 
	height: 100%; 
	background-size: cover; 
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0;
}

#slider .slide.ativo { 
    opacity: 1;
}

#slider .slide img {
  width: auto;
  height: 100%;
  
  margin-left:auto;
  margin-right:auto;
  top: 0;
  left: 0;
}


#setavolta {
	position: absolute;
	left: 10px;
	top: 40%;
	width: 48px;
	height: 50px;
	background-position: 0 100%;
	cursor: pointer; 
	opacity: 0.7;
	z-index: 5; 
	display: none;
}

#setaprox {
	position: absolute;
	right: 10px;
	top: 40%;
	width: 48px;
	height: 50px;
	background-position: 100% 100%;
	cursor: pointer; 	
	opacity: 0.7;
	z-index: 5; 
	display: none;
}

#setavolta:hover, #setaprox:hover {
	opacity: 1;
}

#bolinhas {
	display: inline-block;
	z-index: 5;
	position: absolute;
	bottom: 50px;
}

.bolinhas {
	box-shadow: 0 0 10px #333333;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	float: left;
	margin-right: 3px;
	cursor: pointer;
}

.bolinhas.ativo {
	background-color: #ffffff;
}
